<footer class="bg-light text-center text-lg-start">

  <div class="container p-4">

    <div class="row">

      <div>
        <h5 class="text-uppercase">Site information</h5>
        <p>
          Story Creator is an app that allows you and others to collaritaivly create a story!
          Make it as silly as possible ans share it with all of your friends!
        </p>
      </div>

      <div>
        <h5 class="text-uppercase">Follow us on Social Media!</h5>
        <ul class="list-unstyled mb-0">
            <a><img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXB4S7h395TbXHl4i3FkoWAfD2LzQg2EKdqQ&usqp=CAU' width="100" height="100"></a>
        </ul>
      </div>

    </div>

  </div>

  <div style="background-color: lightblue;">
    © 2020 Copyright: AJAY Inc.
  </div>
</footer>

