
  <link rel="stylesheet" href="/styles/footer.css">


<footer class="bg-light">
  <div class="text" style="margin-left: 20px; margin-right: 20px;">
    <!-- <div style="margin-right: 20em;"> -->
      <p>Follow us on Social Media!
      <img src="https://www.flaticon.com/svg/vstatic/svg/174/174848.svg?token=exp=1617885230~hmac=8502c935b3e82817bd174c107f69aef3" style="width: 20px; height: 20px;">
      <img src="https://www.flaticon.com/svg/vstatic/svg/1409/1409937.svg?token=exp=1617886489~hmac=ebfd09d1dc15dc3cdf137ca51f8dee0d" style="width: 20px; height: 20px;">
      <img src="https://www.flaticon.com/svg/vstatic/svg/2111/2111463.svg?token=exp=1617886555~hmac=a306cdaeca34d95cefb347fd21f9ebc1" style="width: 20px; height: 20px;">
      </p>
    © 2020 Copyright: AJAY Inc.
  </div>
</footer>

