<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!--Internal styling-->
  <link rel="stylesheet" href="styles/creator.css">
  <title>Story Creator</title>
</head>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/story">
      <img src='https://st2.depositphotos.com/3969727/9550/v/950/depositphotos_95503166-stock-illustration-pen-feather-icon.jpg' width="50" height="50"> Ten Word Tale
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Start a Story</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contribute to a Story</a>
        </li>
        </ul>
    </div>
    <p>
      <a href="/logout">
        <button class="btn btn-warning" value='delete'>Logout
        </button>
      </a>
    </p>
  </nav>
  </header>

<body style='background-color: #3498DB'>
  <main style="margin: 1em">
    <div class='large-container'>
      <!-- This will be where the stoies are rended too-->
    <div class="stories" id='stories'>
      <p>Hello this is a rando, story about nothing! It will</p>
      <p>Hello this is a rando, story about nothing! It will</p>
      <p>Hello this is a rando, story about nothing! It will</p>
      <p>Hello this is a rando, story about nothing! It will</p>
      <p>Hello this is a rando, story about nothing! It will</p>
    </div>
      <form method="POST" action="/creator" id='CreateStory'>
        <div>
        <button type="submit" class="btn btn-primary" id="submit-story" method='POST' action='/story'>Im Done! Publish!</button>
      </div>
</form>
</div>
<div class='bottom-box'>
  <textarea rows="2" cols="50" name="story" form="edit-story" style="margin-top: 20px;">
    Be creative!
  </textarea>
  <form method='POST' action='#'>
      <button id='done-button' class="btn btn-danger">Im Done!</button>
  </form>
  <a>

</div>
</main>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

<footer class="bg-light text-center text-lg-start">

  <div class="container p-4">

    <div class="row">

      <div>
        <h5 class="text-uppercase">Site information</h5>
        <p>
          Story Creator is an app that allows you and others to collaboratively create a story!
          Make it as silly as possible and share it with all of your friends!
        </p>
      </div>

      <div>
        <h5 class="text-uppercase">Follow us on Social Media!</h5>
<!-- Facebook -->
<a class="btn btn-primary btn-lg btn-floating" style="background-color: #3b5998" href="#!" role="button">
  <i class="fab fa-facebook-f"></i>
</a>

<!-- Twitter -->
<a class="btn btn-primary btn-lg btn-floating" style="background-color: #55acee" href="#!" role="button">
  <i class="fab fa-twitter"></i>
</a>

<!-- Google -->
<a class="btn btn-primary btn-lg btn-floating" style="background-color: #dd4b39" href="#!" role="button">
  <i class="fab fa-google"></i>
</a>

<!-- Instagram -->
<a class="btn btn-primary btn-lg btn-floating" style="background-color: #ac2bac" href="#!" role="button">
  <i class="fab fa-instagram"></i>
</a>
      </div>

    </div>

  </div>

  <div style="background-color: lightblue;">
    © 2020 Copyright: AJAY Inc.
  </div>
      <!-- Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</footer>


</html>

