<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/styles/register.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!--Internal StyleSheet-->
  <title>Story Creator</title>
</head>

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/story">
      <img src='https://cdn.worldvectorlogo.com/logos/story.svg' width="50" height="50"> Ten Word Tale
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Start a Story</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contribute to a Story</a>
        </li>
        </ul>
    </div>
    <p>
      <a href="/login">
        <button class="btn btn-warning" value='delete'>Login
        </button>
      </a>
      <a href="/register">
        <button class="btn btn-warning" value='delete'>Register
        </button>
      </a>
    </p>
  </nav>
  </header>
<body class="large">
  <div class="login">
    <div class="login-screen">
      <div class="app-title">
        <h1>Register</h1>
      </div>

      <div class="login-form">

        <div class="control-group">
          <input type="text" class="login-field" value="" placeholder="username" id="login-name">
          <label class="login-field-icon fui-user" for="login-name"></label>
          </div>

        <div class="control-group">
        <input type="text" class="login-field" value="" placeholder="email" id="login-name">
        <label class="login-field-icon fui-user" for="login-name"></label>
        </div>

        <div class="control-group">
        <input type="password" class="login-field" value="" placeholder="password" id="login-pass">
        <label class="login-field-icon fui-lock" for="login-pass"></label>
        </div>

        <form action="" method="POST">
        <button class="btn btn-primary btn-large btn-block" href="#">Register</button>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include('partials/_footer') %>
</html>
