<!-- Adele - Stories Take 2. -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link rel="stylesheet" href="/styles/stories.css">

  <title>Stories Main Page</title>
</head>
  <body>

    <header>
 <!-- < include('partials/_header') > -->

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/story">
          <img src='https://st2.depositphotos.com/3969727/9550/v/950/depositphotos_95503166-stock-illustration-pen-feather-icon.jpg' width="50" height="50"> Ten Word Tale
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Start a Story</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contribute to a Story</a>
            </li>
            </ul>
        </div>
        <p>
          <a href="/login">
            <button class="btn btn-secondary" value='delete'>Login
            </button>
          </a>
          <a href="/register">
            <button class="btn btn-secondary" value='delete'>Register
            </button>
          </a>
        </p>
      </nav>

<!-- header bar ends here -->
    <main style="margin:1em;" >
      <h3>Check out a story!</h3>
      <h6> 📖 in progress. 📕 published!</h6>
        <br>
        <br>

      <article class="story-box">
        <header>
          <h5>The Lost Shoe</h5>
          <!-- "In process" will change as an if statement when "published" -->
          <p>In process 📖 </p>
        </header>

        <p> Once I lost my shoe when walking through the forest. </p>

        <footer>
          <p>10 Days Ago....................by Bob</p>
           <!-- <p>by Bob</p> -->
        </footer>
      </article>

      <br>
      <br>

      <article class="story-box">
        <header>
          <h5>Zorro</h5>
          <p> Completed 📕 </p>
        </header>

        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta, augue in fermentum vulputate, felis ligula auctor nunc, non rhoncus ex nisl sit amet ligula. Aliquam vehicula sem at purus luctus semper. Morbi pulvinar eu turpis at lacinia. Sed a enim pellentesque, porttitor lacus at, vulputate nisl. Etiam et ligula eget dolor tempus gravida </p>

        <footer>
          <p>10 Days Ago....................by Bob</p>
           <!-- <p>by Bob</p> -->
        </footer>
      </article>

      <br>
      <br>

      <article class="story-box">
        <header>
          <h5>Metamorphosis</h5>
          <p> Completed📕 </p>
        </header>

        <p> As Gregor Samsa awoke one morning from uneasy dreams he found himself transformed in his bed into an enormous insect </p>

        <footer>
          <p>10 Days Ago....................by Kafka</p>
           <!-- <p>by Bob</p> -->
        </footer>
      </article>

    </main>

    <!-- <- include('partials/_footer') > -->



    <!-- Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
  </body>
</html>



<!-- NOTES TO SELF -->
        <!-- <h1>THis is the titles page</h1>

        <ul>
        <% for (let StoryTitle of TitleList) { %>
        <li><%= StoryTitle['title'] %></li>
        <% } %>
        </ul> -->

        <!-- css - don't overflow -->
