body {
  background:#3498DB !important;
  font-family: 'Raleway', sans-serif !important;
  font-size: 24px !important;
}

.logout-phrase {
  color: yellow !important;
  display: flex;
  flex-direction: row;
}
