

div.large-container {

  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;

  }

  div.stories {

  // background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 10%;
  align-items: center;
  margin-left: 140px;

  }

  div.bottom-box {

    display:flex;
    flex-direction: row;
    justify-content: center;

  }

  button#done-button {

    margin-top: 50px;


  }
