body {
  background-color: #7CAF22;
  
}

div.large-container {
  
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
    
  }
  
  div.stories {
  
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 10%;
  
  }
  
  div.bottom-box {
    
    display:flex;
    flex-direction: row;
    
  }
  
  button#done-button {
    
    margin-top: 50px;
   
    
  }
  