
body {
  background:#0072BC !important;

}

.story-box {
  border: 2px inset;

}

.story-box header {
  display: flex;
  justify-content: space-between;
}

.story-box footer {
  display: flex;
  justify-content: space-between;
}

.invis {
  float : right
}
