div.large-container {

  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  font-family: 'New Tegomin', serif;

  }

  div.stories {

  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 10%;
  font-family: 'New Tegomin', serif;

  }

  div.bottom-box {

    display:flex;
    flex-direction: row;
    font-family: 'New Tegomin', serif;

  }

  button#done-button {

    margin-top: 50px;


  }
